[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest = "*"
coverage = "*"
wheel = "*"

[packages]
flask = "*"
flaskr = {editable = true, path = "."}

[requires]
python_version = "3.8"
